{{!-- <main class="index">

    <header class="masthead d-flex">
        <div class="container text-center align-items">
            <h1 class="mb-1">
                Favorite Links
            </h1>
            <h3 class="mb-4">
                <em>Store your favorite links</em>
            </h3>
            <a href="/signin" class="btn btn-primary">Let's get started</a>
        </div>
    </header>
</main> --}}

<header>
    <div class="container masthead">
        <h1 class="mb-1">
            Favorite Links
        </h1>
        <h3 class="mb-4">
            <em>Store your favorite links</em>
        </h3>
        <a href="/signin" class="btn btn-primary">Let's get started</a>
    </div>
</header>
<div class="loader-wrapper">
    <span class="loader"><span class="loader-inner"></span></span>
</div>