{{!-- <main class="index">

    <header class="masthead d-flex">
        <div class="container text-center align-items">
            <h1 class="mb-1">
                Favorite Links
            </h1>
            <h3 class="mb-4">
                <em>Store your favorite links</em>
            </h3>
            <a href="/signin" class="btn btn-primary">Let's get started</a>
        </div>
    </header>
</main> --}}

<header>
    <div class="container text-center align-items masthead">
        <h1 class="mb-1">
            Favorite Links
        </h1>
        <h3 class="mb-4">
            <em>Store your favorite links</em>
        </h3>
        <a href="/signin" class="btn btn-primary">Let's get started</a>
    </div>
    <div class="overlay"></div>

    <div class="video">
        <video autoplay="autoplay" muted="muted" loop="loop">
            <source src="/src/public/video/video.mp4" type="video/mp4">
        </video>
    </div>



</header>